.active {
  color: white;
}

.active-icon {
  color: #b57295 !important;
}

.sideBar-items {
  color: grey;
  font-size: large;
}

.sideBar-items:hover p {
  color: white;
}

.sideBar-items:hover svg {
  color: #b57295;
}
