.active {
  color: white;
}

.active-icon {
  color: #b57295 !important;
}

.sideBar-items {
  color: grey;
  font-size: large;
}

.sideBar-items p {
  margin-left: 1em;
}

.sideBar-items:hover p {
  color: white;
}

.sideBar-items:hover svg {
  color: #b57295;
}

.sideBar-items:not(:last-child) {
  margin-bottom: 1.5em;
}
